body{
    position: fixed;
    background: url("mob-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    color: white;
}

#user-search{
    border-radius: 16px;
    border: 1px solid #222;
    position: absolute;
    right: 1vw;
    top: 1vh;
}

#submit-btn{
    border: 1px solid #222;
    border-radius: 6px;
    position: absolute;
    top: 4.5vh;
    right: 1vw;
    background-color:#2ecc71;
    color: #222;
}

.front-container{
    position: absolute;
    top: 35vh;
    margin-left: auto;
    margin-right: auto;
    left: 0vw;
    right: 0vw;
    text-align: center;
    width: 65%;
}


.container{
    position: relative;
    height: 80vh;
    width: auto;
    margin-bottom: 2vh;
    display: none;
    top: 3vh;
}

.weather-card{
    position: absolute;
    top: 8%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    left: 0vw;
    right: 0vw;
    text-align: center;
    width: 65%;
}

h1{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 1.7rem;
    margin: 2vh 1vw 2vh 1vw;
}

h3{
    font-size: 4rem;
    color: #f1c40f;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.weather-para{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white;
    font-size: 1.5rem;
}



.circles{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    display: none;
}

.move-btn{
    background: none;
    color: white;
    border: none;
    font-size: larger;
    position: relative;
    top: -2px;
}

.circle{
    height: 2vh;
    width: 2vh;
    border-radius: 50%;
    display: inline-block;
}

.off{
    background-color: white;
}

.on{
    background-color: #ffa502;
}

@media (min-width: 769px){
    body{
        background: url("desktop-bg-img.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .front-header{
        font-size: 3rem;
    }

    em{
        font-size: 1.5rem;
    }
}