body{
    position: fixed;
    background: url("mob-bg.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: center;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: -1;
    margin: 0;
    padding: 0;
    font-family: 'Varela Round', sans-serif;
    color: white;
}

#user-search{
    border-radius: 16px;
    border: 1px solid #222;
    position: absolute;
    right: 1vw;
    top: 1vh;
    padding-left: 0.5vw;
}

#submit-btn{
    border: 1px solid #222;
    border-radius: 6px;
    position: absolute;
    top: 4.5vh;
    right: 1vw;
    background-color:#2ecc71;
    color: #222;
}

.front-header-small{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 1rem;
    position: absolute;
    top: 1vh;
    display: none;
    left: 1vw;
    margin-top: 0;
    font-size: 0.8rem;
    width: 50%;
}

@media(min-width: 800px){
    .front-header-small{
        margin-left: auto;
        margin-right: auto;
        left: 0vw;
        right: 0vw;
        text-align: center;
        width: 80%;
        font-size: 1rem;
        margin-top: 1vh;

    }
}

.front-container{
    position: absolute;
    top: 35vh;
    margin-left: auto;
    margin-right: auto;
    left: 0vw;
    right: 0vw;
    text-align: center;
    width: 65%;
}


.container{
    position: relative;
    height: 80vh;
    width: auto;
    margin-bottom: 2vh;
    display: none;
    top: 4vh;
}

.weather-card{
    position: absolute;
    top: 8%;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    left: 0vw;
    right: 0vw;
    text-align: center;
    width: 65%;
}

h1{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 1.7rem;
    margin: 2vh 1vw 2vh 1vw;
}

h3{
    font-size: 4rem;
    color: #f1c40f;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.temperature-header{
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
}

.weather-para{
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    color: white;
    font-size: 1.5rem;
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
}

.weather-icon{
    max-width: 100%;
    height: auto;
}

.bottom-icons{
    margin-top: -4vh;
}


.circles{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: fit-content;
    display: none;
}

.move-btn{
    background: none;
    color: white;
    border: none;
    font-size: larger;
    position: relative;
    top: -2px;
}

.circle{
    height: 2vh;
    width: 2vh;
    border-radius: 50%;
    display: inline-block;
}

.off{
    background-color: white;
}

.on{
    background-color: #ffa502;
}

@media (min-width: 769px){
    body{
        background: url("desktop-bg-img.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }

    .front-header{
        font-size: 3rem;
    }

    em{
        font-size: 1.5rem;
    }
}

@media (max-height: 600px){
    .container{
        height: 80%;
    }
    
    .weather-card{
        height: 65%;
        top: 15vh;
    }

    .date-header{
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0vw;
        right: 0vw;
        text-align: center;
        top: 1vh;
        margin-top: 1vh;
    }

    .temperature-header{
        font-size: 3rem;
        position: absolute;
        top: 10vh;
        left: 6vw;
    }

    .weather-para{
        position: absolute;
        top: 28vh;
        left: 7vw;
        height: auto;
    }

    #submit-btn{
        top: 10vh;
    }

    .bottom-icons{
        position: absolute;
        left: 7vw;
        top: 44vh
    }
    .weather-icon{
        position: absolute;
        top: 0;
        bottom: 0;
        margin-top: 0;
        margin-bottom: 0;
        align-items: center;
        right: 3vw;
    }

    .circles{
        top: -10vh;
    }

    .circle{
        height: 4vh;
        width: 4vh;
    }

}